// Button.scss
@use "../../styles/colors.scss" as *;

.btn {
  background-color: $background;
  border: 3px solid $primary;
  color: $primary;
  margin: 12px 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary;
  }
}

.btn-primary {
  background-color: $primary;
  color: $lightText;

  &:hover {
    background-color: $lightPrimary;
  }
}
