$primary: #673ab7;
$lightPrimary: #835acb;
$accent: #ff9800;
$text: #333333;
$lightText: #ffffff;
$background: #f5f5f5;
$footer: #212121;
$secondary: #757575;
$error: #f44336;
$secondary1: #9c27b0;
$footer1: #9c27b0;
