// Card.scss
@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;

.article-card {
  display: "flex";
  flex-direction: row;
  border: 1px solid $disabled;
  border-radius: 5px;
  overflow: hidden;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $background;

  .image-wrapper {
    flex: 1;
    padding: 16px;
    padding-bottom: 0;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  a {
    display: block;
    margin-bottom: 16px;
    color: $link;
    text-decoration: none;
  }

  p {
    font-size: 16px;
    line-height: 1rem;
  }

  img {
    object-fit: cover;
    height: auto;
    width: 100%;

    @include small {
      max-height: 200px;
    }

    @include medium {
      max-height: 280px;
    }

    @include large {
      max-height: 440px;
    }
  }

  time {
    font-style: italic;
    color: $disabledText;
  }
}
