// Footer.scss
@use "../../styles/colors.scss" as *;

footer {
  background-color: $footer;
  color: $lightText;
  padding: 20px;
  text-align: center;

  position: relative;
  bottom: -50;
  width: 100%;
}
